* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #5F5F5F;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

h5 {
  font-size: 1.00em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #5F5F5F;
  text-decoration: none;
  /* No underlining */
}

a:hover,
a:focus {
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

.heading1:hover {
  text-decoration: none;
  /* No underlining */
}

.icon:hover {
  text-decoration: none;
}

.icon {
  padding: 10px;
}

.text-link {
  color: #FA6400;
}

.text-link-fluenci {
  color: #0087E2
}

/* Header/navigation Layout styling */
header {
  display: inline-block;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.25);
  z-index: 1;
}

#header1 {
  display: inline-block;
  max-height: 40px;
  width: 100%;
}

.container1 {
  overflow: hidden;
  position: relative;
  height: 75px;
}

.block1 {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  max-width: 280px;
}

.logo {
  padding-left: 40px;
  padding-right: 20px;
}

.heading1 {
  font-size: 8px;
}

nav {
  margin-top: 10px;
}

nav>ul {
  display: inline-block;
  float: right;
  width: 100%;
  list-style-type: none;
}

nav>ul>li>a {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: #5f5f5f;
  float: right;
}

.navtoggle li:not(:first-child) {
  display: none;
}

.navtoggle li .icon2 {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 20px;
}

.navtoggle.responsive nav {
  display: block;
  padding: 24px 0 0;
  text-align: center;
}

.navtoggle.responsive li  {
  display: block;
  padding: 10px 10px;
  border-top: 1px solid #5F5F5F;
  text-align: center;
}

.navtoggle.responsive li:last-child  {
  display: block;
  text-align: center;
  padding: 0 0 10px;
}

.navtoggle.responsive a {
  display: block;
  text-align: center;
}

/* Body Layout styling */
main {
  padding-top: 20px;
}

/* hero section home page layout styling */
#hero {
  display: inline-block;
  width: 100%;
}

.hero1 {
  width: 100%;
  font-size: 12px;
}

.hero2 {
  text-align: center;
}

/* home page layout styling */
.link {
  display: block;
  line-height: 1px;
}

.wrapper2 {
  margin-top: 30px;
}

.container-home {
  padding: 5px 20px;
  /* 15px top and bottom, left and right */
}

/* home page image hover states */
.home-pic {
  transition-duration: 0.2s;
  transition-property: opacity;
}

.home-pic:hover {
  opacity: 0.8;
}

/* GENERAL LAYOUT STYLING */
.container {
  padding: 15px 15px;
  /* 15px top and bottom, left and right */
}

.row {
  margin: 15px 15px;
  display: inline-block;
  width: 100%;
  /* 5px top and bottom, 15px left and right */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/*
/* Refab page styling */
.row-refab {
  padding: 30px;
  text-align: center;
  width: 100%;
}

.row-refab:before {
  content: "";
  background-color: #E6F2F4;
  position: absolute;
  height: 40%;
  left: 0;
  right: 0;
  z-index: -1;
}

/* other/additional
.row-refab:before {
display: block;
float: left;
margin: auto;
max-width: none !important;
position: relative;
width: 100% !important;
}
/* */
#competitive-analysis {
  padding-top: 80px;
}

#user-research {
  padding-top: 80px;
}

#user-personas {
  padding-top: 80px;
}

#site-mapping {
  padding-top: 80px;
}

#wireframes-prototypes {
  padding-top: 80px;
}

#style-guide {
  padding-top: 80px;
}

#accessibility {
  padding-top: 80px;
}

#final-prototypes {
  padding-top: 80px;
}

#usability-testing {
  padding-top: 80px;
}

#preference-testing {
  padding-top: 80px;
}

#style-guide {
  padding-top: 80px;
}

.col-md-6-ca {
  padding: 20px 20px;
}

.refab-h1 {
  text-align: center;
  color: #F25D28;
}

.refab-h1-left {
  color: #F25D28;
}

.refab-h3 {
  text-align: center;
  color: #5F5F5F;
}

.refab-h3-blue {
  text-align: center;
  color: #14A2B2;
  font-style: italic;
}

.refab-h3-orange {
  text-align: center;
  color: #FA6400;
}

.refab-h4-red {
  color: red;
}

.refab-h4-orange {
  color: orange;
}

.refab-h4-green {
  color: green;
}

.button-refab {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 40px;
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button-refab:hover {
  opacity: 0.8;
}

/* Refab-testing page styling */
.row-refab-test {
  padding: 30px;
  text-align: center;
}

.row-refab-test:before {
  content: "";
  background-color: #E6F2F4;
  position: absolute;
  height: 20%;
  left: 0;
  right: 0;
  z-index: -1;
}

/* Fluenci page styling */
#competitive-research {
  padding-top: 80px;
}

#proto-persona {
  padding-top: 80px;
}

#user-flows {
  padding-top: 80px;
}

#wireframes-prototypes {
  padding-top: 80px;
}

#usability-testing {
  padding-top: 80px;
}

#ui-development {
  padding-top: 80px;
}

.row-fluenci {
  padding: 30px;
  text-align: center;
}

.row-fluenci:before {
  content: "";
  background-color: #FFE9E5;
  position: absolute;
  height: 40%;
  left: 0;
  right: 0;
  z-index: -1;
}

.text-link-fluenci {
  text-align: center;
  color: #0087E2;
}

.fluenci-h1 {
  text-align: center;
  color: #0087E2;
}

.fluenci-h1-left {
  color: #0087E2;
}

.fluenci-h3 {
  text-align: center;
  color: #5F5F5F;
}

.fluenci-h3-blue {
  text-align: center;
  color: #0087E2;
}

.fluenci-h4-blue {
  color: #0087E2;
}

.fluenci-h5 {
  color: #0087E2;
}

.fluenci-prototype {
  text-align: center;
  width: 60%;
}

/* Toast page styling */
.row-toast {
  padding: 30px;
  text-align: center;
}

.row-toast:before {
  content: "";
  background-color: #F5FFE3;
  position: absolute;
  height: 40%;
  left: 0;
  right: 0;
  z-index: -1;
}

#competitive-research {
  padding-top: 80px;
}

#user-personas {
  padding-top: 80px;
}

#site-map {
  padding-top: 80px;
}

#wireframes-prototypes {
  padding-top: 80px;
}

#visual-design {
  padding-top: 80px;
}

#hi-fi-mockups {
  padding-top: 80px;
}

#style-guide {
  padding-top: 80px;
}

#animations {
  padding-top: 80px;
}

#final-mockups {
  padding-top: 80px;
}

.inner-container {
  width: 70%;
  text-align: center;
}

.toast-h1 {
  text-align: center;
  color: #FA6400;
}

.toast-h1-left {
  color: #FA6400;
}

.toast-h3 {
  text-align: center;
  color: #5F5F5F;
}

.toast-h3-orange {
  text-align: center;
  color: #FA6400;
}

/* Nonprofit Collaboration page styling */
.nonprofit {
  padding-top: 40px;
  text-align: center;
}

/* Resume page styling */
#resume-header {
  display: inline-block;
  width: 100%;
}

.col-md-6-l-resume {
  display: inline-block;
  width: 80%;
  float: left;
}

.resume-button {
  padding-top: 40px;
  display: inline-block;
  float: right;
  transition-duration: 0.2s;
  transition-property: opacity;
}

.resume-button:hover {
  opacity: 0.8;
}

.resume-header1 {
  color: #23B4C4;
}

/* About page styling */
.wrapper {
  margin-top: 40px;
}

/* Typical Button styling */
.button {
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button:hover {
  opacity: 0.8;
}

/* Footer styling */
.social {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.copyright {
  text-align: center;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  .heading1 {
    font-size: 1.00em;
    font-weight: 400;
  }

  .block1 {
    max-width: 1000px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav>ul>li {
    display: inline-block;
    float: right;
  }

  .navtoggle li:not(:first-child) {
    display: inline-block;
  }

  .navtoggle li:first-child {
    display: none;
  }

  main {
    padding-top: 80px;
  }

  .hero1 {
    float: left;
    display: inline-block;
    font-size: 18px;
    width: 80%;
  }

  .hero2 {
    padding-top: 40px;
    display: inline-block;
    float: right;
  }

  [class*="col-"] {
    width: 50%;
    float: left;
  }

  .col-md-9 {
    width: 75%;
    padding: 10px;
  }

  .col-md-8 {
    width: 66.66%;
    padding: 10px;
  }

  .col-md-4 {
    width: 33.33%;
    padding: 10px;
  }

  .col-md-3 {
    width: 25%;
    padding: 10px;
  }

  .col-md-2 {
    width: 16.66%;
    padding: 0px 10px;
  }

  .col-md-6-l {
    padding-left: 10px;
  }

  .col-md-6-r {
    padding-right: 10px;
  }

  .col-md-6-c {
    text-align: center;
  }

  .col-md-6-ca {
    padding: 20px 20px;
  }

  /* Refab page */
  .test-button {
    text-align: center;
    padding-top: 10px;
  }

  /* Resume page */
  .col-md-6-l-resume {
    padding-left: 80px;
    width: 30%;
  }

  .col-md-6-r-resume {
    padding-left: 40px;
    padding-right: 80px;
    width: 70%;
  }

  .resume-button {
    text-align: unset;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  .heading1 {
    font-size: 1.00em;
    font-weight: 400;
  }

  .block1 {
    max-width: 1000px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav>ul>li {
    display: inline-block;
    float: right;
  }

  .navtoggle li:not(:first-child) {
    display: inline-block;
  }

  .navtoggle li:first-child {
    display: none;
  }

  main {
    padding-top: 80px;
  }

  .hero1 {
    float: left;
    display: inline-block;
    font-size: 18px;
    width: 80%;
  }

  .hero2 {
    padding-top: 40px;
    display: inline-block;
    float: right;
  }

  body {
    font-size: 18px;
  }

  [class*="col-"] {
    width: 50%;
    float: left;
  }

  .col-md-9 {
    width: 75%;
    padding: 10px;
  }

  .col-md-8 {
    width: 66.66%;
    padding: 10px;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.66%
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  /* Resume page */
  .col-md-6-l-resume {
    padding-left: 80px;
    width: 30%;
  }

  .col-md-6-r-resume {
    padding-left: 40px;
    padding-right: 80px;
    width: 70%;
  }

  .resume-button {
    text-align: unset;
  }
}

/*
General Colors Used:
Primary Color (Orange): #FA6400
Secondary Color (Dark Gray): #5F5F5F
Secondary Color (Light Gray): #BCBCBC
Tertiary Color (Black): #000000
Tertiary Color (White): #FFFFFF

Colors for Refab page:
Primary Color (Teal): #14A2B2
Primary Color (Orange): #F25D28
Secondary Color (Dark Teal): #3B7F8B
Tertiary Color (Light Blue): #E6F2F4

Colors for Fluenci page:
Primary Color (Blue): #0087E2
Primary Color (Purple): #8380B7
Secondary Color (Seafoam): #45F1DF
Secondary Color (Coral): #FE8F80
Tertiary Color (Yellow): #F9C22F
Tertiary Color (Pink): #FFE9E5

Colors for Toast page:
Primary Color (Orange): #FB8058
Primary Color (Dark Green): #447A86
Secondary Color (Bright Green): #D5D76B
Secondary Color (Magenta): #D82459
Tertiary Color (Light Blue): #EFFAFF
Tertiary Color (Light Green): #F5FFE3

Colors for Nonprofit page:
TBD
/*
